<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Veretinario</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="@Url.Action("Index","Home")">Software Veterinario</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="color: #80CBC4;"></i></button>
        <!-- Navbar Search-->
        @*<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>*@
    <div class="barra-ayuda navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
        <div><i class="fab fa-sistrix"></i></div>
        <div><i class="fas fa-shopping-cart"></i></div>
        <div><i class="	fas fa-calendar-alt"></i></div>
        <div><i class="fas fa-globe"></i></div>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw" style="color: #80C2BB;"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">AÑADIR:</div>
                        <div class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-user-plus"></i>
                                <button type="button" class="btn sb-sidenav-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    PROPIETARIO
                                </button>
                            </div>
                        </div>
                        <div class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-paw"></i>
                                <button type="button" class="btn sb-sidenav-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                    MASCOTA
                                </button>
                            </div>
                        </div>
                        <hr />
                        <div class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-horse-head"></i>
                                <button type="button" class="btn sb-sidenav-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                                    ESPECIE/RAZA
                                </button>
                            </div>                        
                        </div>
                        <div class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-user-md"></i>
                                <button type="button" class="btn sb-sidenav-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                                    VETERINARIO/ATV
                                </button>
                            </div>                           
                        </div>
                        <div class="sb-sidenav-menu-heading">FICHA MASCOTA</div>
                        <a class="nav-link" href="@Url.Action("FichaMascota","Home")">
                            <div class="sb-nav-link-icon"><i class="fas fa-dog"></i></div>
                            FICHA MASCOTA
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Resultados
                        </a>
                        <div class="sb-sidenav-menu-heading">GESTIÓN:</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-briefcase-medical"></i></div>
                            PRODUCTOS
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            PROVEEDORES
                        </a>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Start Bootstrap
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
